html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1440px;
  min-height: 2476px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 80px;


  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}


.main-header-logo {
  order: 0;

  width: 160px;
  height: 65px;
  padding-top: 49px;
  padding-bottom: 18px;
  padding-right: 200px;
}

.site-navigation {
  width: 440px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

/* =====  SLIDER ==== */

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item .button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item .button:hover,
.slider-item .button:focus {
  background-color: #e74246;
}

.slider-item .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*=========================*/
.products-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.products-row .service {
  width: 300px;
  margin: 0;
  padding: 0
}

.service h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.service p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.service a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.item-web a {
  background-color: #fb565a;
}

.item-web a:hover,
.item-web a:focus {
  background-color: #e74246;
}

.item-web a:active {
  background-color: #d7373b;
}

.item-app a {
  background-color: #00ca74;
}

.item-app a:hover,
.item-app a:focus {
  background-color: #00bc6c;
}

.item-app a:active {
  background-color: #00aa62;
}

.item-presentation a {
  background-color: #efc84a;
}

.item-presentation a:hover,
.item-presentation a:focus {
  background-color: #eab534;
}

.item-presentation a:active {
  background-color: #e5a722;
}

main .container {
  display: flex;
  flex-direction: column;
  /*padding-top: 75px;*/
  padding-bottom: 75px;
}

.container .info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header-illustration {
  width: 360px;
  height: 208px;
  margin: 0;
  padding: 0;
}

.info-agregate {
  width: 660px;
  margin: 0;
  padding: 0;
}

.information .content-column{
  display: flex;
  justify-content: space-between;
}

.content-column-left {
  margin-top: 0;
  padding: 0;
}

.content-column-right {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0;
  padding: 0;
}

.content-column-right  .number-info {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 0;
}

.number-info .number {
  margin: 0;
  padding: 0;
}


.info-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.content-column-title {
  margin-bottom: 45px;
  padding: 0;

  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.number b {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: bold;
  color: black;
}

.number p {
  font-size: 16px;
  line-height: 18px;
}

.number .percent {
  font-size: 28px;
  vertical-align: super;
}

main .partners {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

 /* ==== FOOTER ====*/

 .main-footer {
   display: flex;
   flex-direction: column;
 }

 .main-footer .address {
   margin: 0;
   padding: 0;
 }

 .main-footer .footer-icon-slogan {
   display: flex;
   margin: 0;
   padding: 0;
 }

 .footer-icon-slogan .icon-footer {
   width: 260px;
   margin: 0;
   padding: 0;
 }

 .footer-icon-slogan .footer-slogan {
   width: 560px;
   margin-left: 140px;
   margin-right: 220px;
 }

.address h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.address p {
  font-size: 16px;
  line-height: 18px;
}

.address button {
  background-color: #fb565a;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

 /* ================*/

/* ===== MODAL =====*/

.modal {
  display: flex;
  flex-direction: column;
  width: 960px;

  color: #000000;

  background-color: #ffffff;
}

.modal h2 {
  margin-top: 70px;
  margin-bottom: 48px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal .login-form {
  margin-bottom: 84px;
}

.modal .modal-close {
  width: 21px;
}

.half-width label,
.login-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form textarea {
  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.login-form input:hover,
.login-form textarea:hover {
  border-color: #b4b9bb;
}

.login-form input:focus,
.login-form textarea:focus {
  border-color: #000000;
}

.login-form .btn {
  background-color: #fb565a;
}

.modal button {
  color: #fecccd;

  background-color: transparent;
}

.modal button:focus {
  color: #fb565a;
}

.modal button:active {
  color: #ffeeee;
}


/* ===== CATALOG =====*/


.title-slogan {
  margin: 0;
  margin-bottom: 58px;

  font-size: 55px;
  text-align: center;
  line-height: 55px;
  font-weight: 500;

  background-color: #eeeeee;
}

.container-inner {
  display: flex;
  width: 1160px;
  margin-bottom: 60px;
}

.container-inner .filters {
  padding: 0;
  margin: 0;
  width: 260px;
}

.container-inner .results-catalog {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

.results-catalog .results {
  display: flex;
  flex-direction: row;

  width: 760px;
  padding: 0;
  margin: 0;
}

.results-catalog .catalog {
  width: 760px;
  padding: 0;
  margin: 0;

}

.catalog .catalog-list {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin-bottom: 60px;
}

.catalog-list .layout {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-list .layout:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
}

.filters fieldset {
  border: none;
}

.filters legend,
.results p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.price-controls label {
  text-transform: uppercase;
}

.filters ul {
  list-style: none;

  line-height: 20px;
  color: #b8b8b8;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  color: #ededed;
}

.catalog-form .form-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;

  background-color: #eeeeee;
}

.catalog-form .form-btn:hover,
.catalog-form .form-btn:focus {
  background-color: #dfdfdf;
}

.catalog-form .form-btn:active {
  color: #959595;

  background-color: #d5d5d5;
}


.results ul {
  list-style: none;

  line-height: 18px;
}

a.current {
  opacity: 1;
}

.sort-types a {
  font-size: 16px;
  line-height: 20px;
  color: #b2b2b2;
}

.sort-types a:hover,
.sort-types a:focus {
  color: #666666;
}

.sort-types a:active,
.sort-types a:active {
  color: #000000;
}

.layout .layout-top {
  background-color: #e9e9e9;
}

.layout .layout-top:hover,
.layout .layout-top:focus {
  background-color: #4d4d4d;
}

.layout-top span {
  background-color: #ffffff;
}

.layout-menu {
  background-color: #eeeeee;
  color: #000000;
}

.layout-menu .btn {
  background-color: #fb565a;
}

.layout-menu .btn:hover,
.layout-menu .btn:focus {
   background-color: #e74246;
}

.layout-menu .btn:active {
  background-color: #d7373b;
}

.layout-menu h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.layout-menu p {
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;

  background-color: #eeeeee;
}

.pagination-list .next {
  text-transform: uppercase;
}

.pagination-list a {
  color: black;
}

.pagination-list a:hover {
  background-color: #eeeeee;
}

.pagination-list a:focus{
  background-color: #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5:
  color: #959595;
}
