html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-header {
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 49px;
  margin-right: 202px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  width: 440px;
}

.user-navigation {
  display: flex;

  width: 160px;
  margin-left: 200px;
  padding: 0;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  display: block;
  padding-top: 75px;
  padding-bottom: 10px;

  vertical-align: middle;
  color: #000000;
}

.site-navigation a {
  padding: 0;
  margin: 0;

  color: #000000;
}


.user-navigation li {
  display: block;
  padding-top: 75px;
  padding-bottom: 10px;
  margin-left: 234px;

  vertical-align: middle;

  color: #000000;
}

.user-navigation a {
  padding: 0;
  margin: 0;

  vertical-align: middle;

  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.user-navigation .header-basket  {
  position: relative;

  padding-left: 50px;
}

.header-basket::before {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;

  width: 20px;
  height: 20px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.site-navigation-inner {
  position: relative;
}

.site-navigation-inner a[href] {
  pointer-events: none;
}

.site-navigation-inner a:not([href]) {
  background-color: #eeeeee;
}

.site-navigation-inner::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 4px;

  height: 2px;
  width: 75px;

  background-color: #fb565a;
}

/* =====  SLIDER ==== */

.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 18px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 17px;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item .button {
  display: block;

  width: 240px;
  height: 50px;
  padding: 15px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item .button:hover,
.slider-item .button:focus {
  background-color: #e74246;
}

.slider-item .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*=========================*/

.products-row {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 80px;
}

.products-row .service {
  width: 300px;
  margin: 0;
  margin-right: 100px;
  padding: 0;
}

.products-row .service:nth-child(4) {
  margin: 0;
  padding: 0;
}

.service h3 {
  padding: 0;
  padding-top: 18px;
  padding-bottom: 16px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.service p {
  padding: 0;
  padding-bottom: 30px;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.service a {
  display: inline-block;

  width: 160px;
  height: 50px;
  padding: 17px 39px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.item-web a {
  background-color: #fb565a;
}

.item-web a:hover,
.item-web a:focus {
  background-color: #e74246;
}

.item-web a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.item-app a {
  background-color: #00ca74;
}

.item-app a:hover,
.item-app a:focus {
  background-color: #00bc6c;
}

.item-app a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.item-presentation a {
  background-color: #efc84a;
}

.item-presentation a:hover,
.item-presentation a:focus {
  background-color: #eab534;
}

.item-presentation a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

main .container {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.container .info {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border-top: 2px solid #eeeeee;
}

.main-header-illustration {
  width: 360px;
  height: 208px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.info-agregate {
  width: 660px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.information .content-column{
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 62px;

  border-bottom: 2px solid #eeeeee;
}

.content-column-left {
  margin: 0;
  padding: 0;
}

.content-column-right {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin: 0;
  padding: 0;
}

.content-column-right  .number-info {
  display: flex;
  justify-content: space-between;

  width: 360px;
  margin: 0;
  margin-top: 38px;
}

.number-info .number {
  margin: 0;
  padding: 0;
  padding-right: 21px;
}

.info-slogan {
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info-agregate p {
  margin: 0;
  padding: 0;
  padding-top: 32px;
}

.content-column-title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.competetions-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.competetions-list li {
  position: relative;

  padding-top: 24px;
  padding-left: 35px;
}

.competetions-list li::before {
  position: absolute;
  content: "";
  top: 35px;
  left: 0.5px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.content-column-right .content-column-title {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 12px;

  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.number b {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  font-size: 45px;
  line-height: 10.06px;
  font-weight: bold;
  color: black;
}

.number p {
  font-size: 16px;
  line-height: 18px;
}

.number .percent {
  font-size: 28px;
  vertical-align: super;
}

.partners .border-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 34px;
  margin-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.border-logo p {
  position: relative;

  width: 260px;

  padding: 0;
  padding-top: 49px;
  margin: 0;

  text-align: center;
}

.border-logo p:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -21px;
  top: 63%;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
  transform: translateY(-50%)
}

.patners-logo {
  opacity: 0.2;
}

.patners-logo:hover,
.patners-logo:focus {
  opacity: 1;
}

.patners-logo:active {
  opacity: 0.1;
}

 /* ==== FOOTER ====*/

.main-footer {
  display: flex;
  flex-direction: column;
 }

.map .container {
  position: relative;
}

.main-footer .address {
  position: absolute;
  top: 54px;

  width: 320px;
  height: 308px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.address h3 {
  margin-left: 52px;
  margin-top: 50px;
  margin-bottom: 24px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.address p {
  margin: 0;
  margin-left: 52px;
  margin-bottom: 17px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  color: #666666;
}

.address p:nth-child(3) {
  margin-left: 52px;
  margin-bottom: 35px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;

  color: #666666;
}

.address a {
  display: inline-block;
  width: 219px;
  height: 50px;

  margin-left: 50px;
  padding: 15px 25px;

  background-color: #fb565a;
}

.address a:hover,
.address a:focus {
  background-color: #e74246;
}

.address a:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.main-footer .footer-icon-slogan {
  display: flex;

  padding-top: 63px;
  padding-bottom: 70px;
}

.footer-icon-slogan .icon-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 260px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  right: 20px;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.footer-icon-slogan .footer-slogan {
  align-self: center;

  width: 560px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.footer-slogan b {
  margin: 0;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.footer-slogan p {
  margin: 0;
  padding-top: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

/* ===== CATALOG =====*/

.title-slogan {
  margin: 0;
  margin-bottom: 56px;
  padding-top: 78px;
  padding-bottom: 108px;

  font-size: 55px;
  text-align: center;
  line-height: 55px;
  font-weight: 500;

  background-color: #eeeeee;
}

.container-inner {
  display: flex;

  width: 1200px;
  margin-bottom: 60px;
}

.container-inner .filters {
  width: 300px;
  margin: 0;
  margin-right: 100px;
  padding: 0;
}

.filters .filter-item {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  border: none;
}

.filter-item legend {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  letter-spacing: 1px;
}

.range-filter {
  width: 260px;
  margin-top: 47px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.filters fieldset {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  border: none;
}

fieldset legend,
.results p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.filter-option {
  margin: 0;
  padding-left: 35px;
  padding-bottom: 18px;
}

.filters ul {
  padding: 0;
  margin: 0;
  margin-top: 18px;

  line-height: 20px;
  color: #b8b8b8;

  list-style: none;
}

fieldset:nth-last-child(2) .filter-option  {
  margin: 0;
  padding-left: 35px;
  padding-bottom: 20px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  color: #ededed;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  left: -35px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before{
  background-image: url("../img/radio-on.svg");

  opacity: 0.4;
}

.filter-input-checkbox:checked + label:before{
  background-image: url("../img/checkbox-on.svg");

  opacity: 0.4;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:active::before,
.filter-input-radio + label:focus::before{
 opacity: 1;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox + label:active::before {
  opacity: 1;
}

.catalog-form .form-btn {
  display: inline-block;

  width: 260px;
  margin-top: 25px;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;

  background-color: #eeeeee;
  border-radius: 3px;
}

.catalog-form .form-btn:hover,
.catalog-form .form-btn:focus {
  background-color: #dfdfdf;
}

.catalog-form .form-btn:active {
  color: #959595;

  border-top: 2px solid #bfbfbf;
  background-color: #d5d5d5;
}

.container-inner .results-catalog {
  display: flex;
  flex-direction: column;
}

.results-catalog .results {
  display: flex;
  flex-direction: row;

  width: 760px;
  padding: 0;
  margin: 0;
}

.results p {
  padding: 0;
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.results .sort-types {
  position: relative;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 380px;
  padding: 0;
  margin: 0;
  margin-left: 265px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.results ul {
  line-height: 18px;

  list-style: none;
}

.sort-types a {
  padding: 0;
  margin: 0;
  margin-right: 25px;

  color: #b2b2b2;
}

.sort-types a:hover,
.sort-types a:focus {
  color: #666666;
}

.sort-types a:active {
  color: #000000;
}

.sort-types .current {
  color: #000000;
}

.less-to-more::before {
  position: absolute;
  content: "";

  bottom: 2px;
  right: 30px;

  width: 12px;
  height: 10px;
  margin: 0;
  padding: 0;

  background: #ffffff url("../img/icon-down-dir.svg") no-repeat;
}

.more-to-less::before {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 0px;

  width: 12px;
  height: 10px;
  margin: 0;
  padding: 0;

  background: #ffffff url("../img/icon-up-dir.svg") no-repeat;

  opacity: 0.2;
}

.less-to-more:hover::before,
.more-to-less:hover::before,
.less-to-more:focus::before,
.more-to-less:focus::before {
  opacity: 0.7;
}

.less-to-more:active::before,
.more-to-less:active::before {
  opacity: 1;
}

.results-catalog .catalog {
  width: 760px;
  padding: 0;
  margin: 0;
  margin-top: 57px;
}

.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 53px;
}

.catalog-list .layout {
  position: relative;

  width: 360px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-bottom: 26px;
}

.catalog-list .layout:nth-child(2n) {
  margin-right: 0;
}

.catalog-list .layout:nth-last-child(n) {
  margin: 0;
}

.layout::before {
  display: block;
  width: 360px;
  height: 40px;

  content: url("../img/browser.svg");
  opacity: 0.12;
}

.layout:hover {
  cursor: pointer;
}

.layout:hover::before {
  display: block;
  width: 360px;
  height: 40px;

  content: url("../img/browser.svg");
  opacity: 1;
}

.layout-menu {
  position: absolute;
  bottom: 5px;

  visibility: hidden;
  width: 360px;
  padding: 33px;

  text-align: center;
  color: #000000;

  background-color: #eeeeee;
  cursor: pointer;
}

.layout:hover .layout-menu {
  visibility: visible;
}

.layout-menu p {
  margin-bottom: 30px;
  margin-top: 18px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666;
}

.layout-menu  a {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.layout-menu .btn {
  display: block;

  width: 200px;
  padding: 15px;
  margin-bottom: 12px;
  margin-left: 49px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  background-color: #fb565a;
  border-radius: 3px;
}

.layout-menu .btn:hover,
.layout-menu .btn:focus {
  background-color: #e74246;
}

.layout-menu .btn:active {
  background-color: #d7373b;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  width: 460px;
  padding: 0;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;

  list-style: none;
}

.pagination-list a {
  display: inline-block;

  min-width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 11px;
  padding: 16px 19px;

  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list .next a {
  display: inline-block;

  width: 260px;
  height: 50px;
  margin: 0;
  padding: 16px 75px;

  text-transform: uppercase;
}

.pagination-item-catalog a {
  display: inline-block;

  min-width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 11px;
  padding: 16px 19px;

  color: #000000;

  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 3px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: #959595;

  border-top: 2px solid #bfbfbf;
  background-color: #d5d5d5;
}

/*======== MODAL ========*/

.modal {
  position: fixed;
  z-index: 2000;

  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.modal-login {
  top: 90px;
  left: 240px;

  display: none;

  width: 960px;
  margin: 0;
  padding: 0 100px;
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 90px;

  width: 22px;
  height: 22px;

  font-size: 0;

  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;

  width: 19px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 67px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-login p {
  margin: 0;
  margin-bottom: 30px;
}

.half-width label,
.login-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.login-form input[type="text"]{
  box-sizing: border-box;
  width: 360px;
  padding: 15px 15px;

  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.login-form textarea {
  box-sizing: border-box;
  width: 760px;
  padding: 15px 15px;
  padding-bottom: 85px;

  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.login-form input:hover,
.login-form textarea:hover {
  border-color: #b4b9bb;
}

.login-form input:focus,
.login-form textarea:focus {
  border-color: #000000;
}

.login-form input:invalid,
.login-form textarea:invalid {
  border-color: #e74246;
}

.login-form .btn {
  display: inline-block;

  width: 260px;
  height: 50px;
  margin-top: 47px;
  margin-bottom: 84px;

  background-color: #fb565a;
}

.login-form .btn:hover,
.login-form .btn:focus {
  background-color: #e74246;
}

.login-form .btn:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
