html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1440px;
  min-height: 2476px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: white;

  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 18px;


  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}


.main-header-logo {
  order: 0;

  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 80%;
}
.main-header-logo:active {
  opacity: 30%;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  width: 440px;
}

.user-navigation {
  display: flex;
  max-width: 180px;
  margin: 0;
  padding: 0;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-right: ;

  vertical-align: middle;
  color: #000000;
}

.user-navigation a {
  display: block;
  padding-top: 80px;
  padding-bottom: 10px;

  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.user-navigation .header-basket  {
  position: relative;
  padding-left: 50px;
}

.header-basket::before {
  content: "";

  position: absolute;
  top: 85px;
  left: 20px;

  width: 20px;
  height: 20px;

  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* =====  SLIDER ==== */

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 96px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 15px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;

}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: -2px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  margin-bottom: 80px;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}


.slider-item .button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item .button:hover,
.slider-item .button:focus {
  background-color: #e74246;
}

.slider-item .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*=========================*/

.products-row {
  display: flex;
  flex-wrap: nowrap;

  min-width: 1100px;
  margin-bottom: 80px;
}

.products-row .service {
  width: 300px;
  margin-right: 100px;
  padding: 0
}

.service h3 {
  padding-top: 26px;

  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.service p {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 35px;


  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.service a {
  display: inline-block;
  padding: 15px 39px;
  width: 160px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.item-web a {
  background-color: #fb565a;
}

.item-web a:hover,
.item-web a:focus {
  background-color: #e74246;
}

.item-web a:active {
  background-color: #d7373b;
}

.item-app a {
  background-color: #00ca74;
}

.item-app a:hover,
.item-app a:focus {
  background-color: #00bc6c;
}

.item-app a:active {
  background-color: #00aa62;
}

.item-presentation a {
  background-color: #efc84a;
}

.item-presentation a:hover,
.item-presentation a:focus {
  background-color: #eab534;
}

.item-presentation a:active {
  background-color: #e5a722;
}

main .container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.container .info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  border-top: 3px solid #eeeeee;
}

.main-header-illustration {
  width: 360px;
  height: 208px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.info-agregate {
  width: 660px;
  margin: 0;
  padding: 0;
  padding-top: 75px;
}

.information .content-column{
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 75px;

  border-bottom: 3px solid #eeeeee;
}

.content-column-left {
  margin: 0;
  padding: 0;
}

.content-column-right {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0;
  padding: 0;
}

.content-column-right  .number-info {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 0;
  margin-top: 38px;
}

.number-info .number {
  margin: 0;
  padding: 0;
}

.info-slogan {
  margin: 0;
  padding: 0;


  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info-agregate p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.content-column-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  text-transform: uppercase;
  color: black;
}

.competetions-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.competetions-list li {
  position: relative;

  padding-top: 30px;
  padding-left: 35px;
}

.competetions-list li::before {
  position: absolute;
  content: "";
  top: 40px;
  left: 0.5px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.number b {
  padding: 0;
  padding-bottom: 15px;

  font-size: 45px;
  line-height: 10.06px;
  font-weight: bold;
  color: black;
}

.number p {
  font-size: 16px;
  line-height: 18px;
}

.number .percent {
  font-size: 28px;
  vertical-align: super;
}

main .partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 80px;
  padding-top: 47px;
  padding-bottom: 45px;
}

.patners-logo {
  width: 260px;
  padding: 0;
  margin: 0;

  opacity: 20%;
}

.patners-logo:hover,
.patners-logo:focus {
  opacity: 100%;
}

.patners-logo:active {
  opacity: 10%;
}

.map {
  height: 416px;
  width: 100%;
  position: relative;
}

.address {
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  bottom: 54px;
  left: calc((100% - 1160px) / 2);

  width: 320px;
  height: 310px;
  background-color: #ffffff;
  color: #666666;
  padding: 0 50px;
  padding-top: 55px;
  padding-bottom: 47px;
  box-sizing: border-box;
}

.address .btn {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  margin-top: auto;
}

 /* ==== FOOTER ====*/

.main-footer {
  display: flex;
  flex-direction: column;
 }

.map {
  position: relative;

  height: 416px;
  width: 100%;
}

.main-footer .address {
  position: absolute;

  bottom: 54px;
  left: 140px;

  width: 320px;
  height: 310px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.address h3 {
  margin-left: 50px;
  margin-top: 50px;
  padding: 0;


  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.address p {
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.address p:nth-child(3) {
  margin-left: 50px;
  margin-bottom: 35px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
}

.address button {
  width: 219px;
  height: 50px;

  margin-left: 50px;
  padding: 0;

  background-color: #fb565a;
}

.main-footer .footer-icon-slogan {
  display: flex;

  padding-top: 70px;
  padding-bottom: 70px;

  background: rgba(234, 255, 45, 0.2);
}

.footer-icon-slogan .icon-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 260px;
  margin: 0;
  padding: 0;

  list-style: none;
  background: rgba(234, 255, 45, 0.2);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.footer-icon-slogan .footer-slogan {
  align-self: center;

  width: 560px;
  margin: 0;
  padding: 0;
  margin-left: 140px;
}

.footer-slogan b {
  margin: 0;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.footer-slogan p {
  margin: 0;
  padding-top: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}
 /* ================*/

/* ===== MODAL =====*/

.modal {
  display: flex;
  flex-direction: column;
  width: 960px;

  color: #000000;

  background-color: #ffffff;
}

.modal h2 {
  margin-top: 70px;
  margin-bottom: 48px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal .login-form {
  margin-bottom: 84px;
}

.modal .modal-close {
  width: 21px;
}

.half-width label,
.login-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form textarea {
  font: inherit;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.login-form input:hover,
.login-form textarea:hover {
  border-color: #b4b9bb;
}

.login-form input:focus,
.login-form textarea:focus {
  border-color: #000000;
}

.login-form .btn {
  background-color: #fb565a;
}

.modal button {
  color: #fecccd;

  background-color: transparent;
}

.modal button:focus {
  color: #fb565a;
}

.modal button:active {
  color: #ffeeee;
}


/* ===== CATALOG =====*/

.inner-page .main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
  padding-left: 20px;


  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.title-slogan {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 80px;
  padding-bottom: 113px;

  font-size: 55px;
  text-align: center;
  line-height: 55px;
  font-weight: 500;

  background-color: #eeeeee;
}

.container-inner {
  display: flex;

  width: 1200px;
  margin-bottom: 60px;
}

.container-inner .filters {
  width: 300px;
  margin: 0;
  margin-right: 100px;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.filter-item legend {
  margin: 0;
  padding: 0;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.filters .filter-item {
  padding: 0;
  margin: 0;
  margin-bottom: 59px;

  border: none;
}

.filters fieldset {
  margin-bottom: 45px;

  border: none;
}

.filters legend,
.results p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}


.filters ul {
   padding: 0;
  margin: 0;

  list-style: none;

  line-height: 20px;
  color: #b8b8b8;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 30px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -28px;
  top: 0;

  width: 22px;
  height: 21px;

  background-image: url("img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 6.4px;
  left: -21px;

  width: 8px;
  height: 8px;

 background-image: url("img/radio-on.svg");
 background-repeat: no-repeat;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 0;

  width: 22px;
  height: 21px;

  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::after  {
  content: "";
  position: absolute;
  left: -28px;
  top: 0;

  width: 22px;
  height: 21px;

  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
}


.filter-input:disabled + label {
  color: #ededed;
}

.catalog-form .form-btn {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding: 17px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;

  background-color: #eeeeee;
  border-radius: 3px;
}

.catalog-form .form-btn:hover,
.catalog-form .form-btn:focus {
  background-color: #dfdfdf;
}

.catalog-form .form-btn:active {
  color: #959595;

  background-color: #d5d5d5;
}

.container-inner .results-catalog {
  display: flex;
  flex-direction: column;
}

.results-catalog .results {
  display: flex;
  flex-direction: row;

  width: 760px;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.results p {
  padding: 0;
  margin: 0;
}

.results .sort-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 280px;
  padding: 0;
  margin: 0;
  margin-left: 263px;

  text-transform: uppercase;
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.results-catalog .catalog {
  width: 760px;
  padding: 0;
  margin: 0;

}

.catalog .catalog-list {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin-bottom: 60px;
}

.layout-top {
  display: flex;
  align-items: center;
  height: 41px;
  background-color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
}

.layout-top span {
  display: inline-block;

  height: 14px;
  width: 14px;
  margin-left: 9px;

  border-radius: 50%;

  background-color: #ffffff;
}

.layout .layout-top {
  background-color: #e9e9e9;
}

.layout .layout-top:hover,
.layout .layout-top:focus {
  background-color: #4d4d4d;
}

.catalog-list .layout {
  position: relative;

  width: 360px;
  height: 576px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-list .layout:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;
}

.results ul {
  list-style: none;

  line-height: 18px;
}

a.current {
  opacity: 1;
}

.sort-types a {
  font-size: 16px;
  line-height: 20px;
  color: #b2b2b2;
}

.sort-types a:hover,
.sort-types a:focus {
  color: #666666;
}

.sort-types a:active,
.sort-types a:active {
  color: #000000;
}


.layout-menu {
  position: absolute;
  flex-direction: column;
  align-items: center;
  height: 230px;
  width: 360px;

  bottom: 0;
  left: 0;

  background-color: #eeeeee;
  color: #000000;
}

.layout-menu .btn {
  display: block;

  width: 200px;
  height: 50px;
  margin-left: 80px;
  margin-bottom: 40px;
  padding: 15px;

  background-color: #fb565a;
}

.layout-menu .btn:hover,
.layout-menu .btn:focus {
   background-color: #e74246;
}

.layout-menu .btn:active {
  background-color: #d7373b;
}

.layout-menu h3 {
  margin-top: 31px;


  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.layout-menu p {

  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  width: 460px;
  padding: 0;
  margin: 0;
  list-style: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: black;
}

.pagination-list .next {
  display: inline-block;

  min-width: 260px;
  height: 50px;

  text-transform: uppercase;
}

.pagination-list a {
  display: inline-block;

  min-width: 50px;
  height: 50px;
  margin-right: 11px;
  padding: 16px 19px;

  background-color: #eeeeee;
  border-radius: 3px;

  color: #000000;

  background-color: #eeeeee;
}


.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: #959595;

  border-top: 2px solid #bfbfbf;
  background-color: #d5d5d5;
}
